<app-navbar></app-navbar>
<section>
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div class="title">
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    <div class="flat-img">
      <img src="../../../assets/Flat Image.png" alt="Flat-img" />
    </div>
    <div>
      <h1>This is our flat MAKEING India</h1>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/maps-and-flags.png" alt="location" />
        <span>chennai </span>
      </div>
      <div>
        <img src="../../../assets/give-money.png" alt="" />
        <span>5 LPA</span>
      </div>
    </div>
    <div class="item-menuList">
      <div>
        <img src="../../../assets/wifi-router.png" alt="location" />
        <span>Yes </span>
      </div>
      <div>
        <img src="../../../assets/group-user.png" alt="" />
        <span>Yes</span>
      </div>
    </div>

    <div class="item-menuList-end">
      <button (click)="showDialog()">Book</button>
      <button (click)="showDialog1()">
        <img src="../../../assets/share.png" alt="" />
      </button>
    </div>
  </div>
  <!-- End -->
</section>

<!-- toggle From -->

<p-dialog
  header="Booking Form"
  [(visible)]="visible"
  [style]="{ width: '50vw', height: '80vw' }"
>
  <app-booking-form></app-booking-form>
</p-dialog>

<p-dialog
  header="Shared Your"
  [(visible)]="visible1"
  [style]="{ width: '30vw', height: '25vw' }"
>
  <div class="social-icon">
    <div>
      <a href="https://web.whatsapp.com/"
        ><img src="../../../assets/whatsapp.png" alt="WhatsApp"
      /></a>
    </div>
    <div>
      <a href="https://www.facebook.com/"
        ><img src="../../../assets/facebook.png" alt="Facebook"
      /></a>
    </div>
    <div>
      <a herf="https://www.instagram.com/"
        ><img src="../../../assets/instagram.png" alt="Instagram"
      /></a>
    </div>
    <div>
      <a><img src="../../../assets/copy.png" alt="Copy" /></a>
    </div>
    <div>
      <a href="https://g.co/kgs/oPEupU"
        ><img src="../../../assets/gmail.png" alt="Gmail"
      /></a>
    </div>
  </div>
</p-dialog>
