<nav>
  <div class="mobile-container">
    <div class="header">
      <div>
        <img src="../../../assets/user-avatar.png" alt="" />
        <p>Arif Hoque Sarkar</p>
      </div>
      <img src="../../../assets/logout.png" alt="" />
    </div>
    <div>
      <ul>
        <li>
          <div>
            <h4>Home</h4>
          </div>
        </li>
        <li>
          <div>
            <h4>Registration</h4>
          </div>
        </li>
        <li>
          <div>
            <h4>Our Service</h4>
          </div>
        </li>
        <li>
          <div>
            <h4>Book Flat</h4>
          </div>
        </li>
        <li>
          <div><h4>Pg Post</h4></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
