.mobile-container {
  
  height: 90%;
  height: 40vh;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
margin-top: -200px;
  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    // background-color: #009587;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    img {
      height: 35px;
      width: 35px;
    }
    p {
      margin: 0px;
    }
    button {
      width: 40%;
    }
  }
}
li {
  list-style: none;
  margin-left: -40px;
  padding-left: 30px;
}
li div {
  padding: 10px;
}
h4 {
  margin: 0px;
}
ul {
  margin-top: 4px;
 
  height: 30vh;
}

li:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: white;
    color: black;
    background-color: #009587;
}
